@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dad9d7;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    h1 {
        position: relative;
        top: 1.5em;
    }
    .popChild {
        display: flex;
        justify-content: center;
        width: 30em;

        .childs {
            position: relative;
            top: 5em;
            padding: 0.5em;
            padding: 20px;
            button {
                font-family: 'Dancing Script', cursive;
                // outline: none;
                border: none;
                cursor: pointer;
                padding: 5px;
                border-radius: 10px;
                background: linear-gradient(145deg, #c4c3c2, #e9e8e6);
                box-shadow:  20px 20px 60px #b9b8b7,
             -20px -20px 60px #fbfaf7;
             font-size: 20px;
            }
        }
    }

    // message
    #message {
        position: relative;
        top: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30.5em;
        height: 10em;
        text-align: center;
        border-radius: 50px;
        background: #dad9d7;
        box-shadow:  -20px 20px 60px #b9b8b7,
                    20px -20px 60px #fbfaf7;
        p {
            font-size: 25px;
        }
    } 
}

.hidden {
    display: none;
}